.highlight {
    position: relative;
  }
  
  .clipboard-button {
    color: var(--white);
    background-color: transparent!important;
    border: none;
    border-radius: 6px;
    padding: 0 5px 5px 5px;
    font-size: 1rem;
    position: absolute;
    z-index: 1;
    right: 0;
    top: 0;
    margin: 10px;
    transition: .1s;
    opacity: 0.5;
  }
  
  .clipboard-button > svg {
    fill: white;
  }
  
  .clipboard-button:hover,
  .clipboard-button:focus,
  pre:active ~ .clipboard-button,
  pre:focus ~ .clipboard-button,
  div.highlight:active > .clipboard-button,
  div.highlight:focus > .clipboard-button {
    cursor: pointer;
    opacity: 1;
  }
  
  
  p code {
    background-color: var(--farallon-code-background);
  }