<script src="https://giscus.app/client.js"
        data-repo="{{ $.Site.Params.giscusRepo}}"
        data-repo-id="{{ $.Site.Params.giscusRepoId}}"
        data-category="{{ $.Site.Params.giscusCategory}}"
        data-category-id="{{ $.Site.Params.giscusCategoryId}}"
        data-mapping="url"
        data-strict="0"
        data-reactions-enabled="0"
        data-emit-metadata="0"
        data-input-position="bottom"
        data-theme="https://taosky.github.io/giscus.css"
        data-lang="zh-CN"
        crossorigin="anonymous"
        async>
</script>